<form class="el-form" action="/login" method="post">
  <div class="el-form-item">
    <div class="el-form-item__content" style="">
      <div class="el-input"><input placeholder="账号" type="text" name="username" autocomplete="off" class="el-input__inner">
      </div>
    </div>
  </div>
  <div class="el-form-item">
    <div class="el-form-item__content" style="">
      <div class="el-input"><input placeholder="密码" name="password" type="password" autocomplete="off" class="el-input__inner">
      </div>
    </div>
  </div>
  <div class="el-form-item" style="margin:0px;">
    <div class="el-form-item__content" style="">
      <div class="el-input"><input value="登录" type="submit" autocomplete="off" class="el-input__inner el-button--primary el-button">
      </div>
    </div>
  </div>
</form>
